:root {
    /* Global Variables */
    --githubDark: rgba(13, 17, 23, 255);
    --pastelGreen: rgba(171, 240, 209, 255);
    --pastelRed: rgba(255, 64, 63, 255);
    --mcHacksBlue: #2f2f60;
    --white: white;

    --fifaRareGold: #f2e48e;
    --fifaGold: #caab50;

    --fifaRareSilver: #cddbdf;
    --fifaSilver: #a3a4a4;

    --fifaBronze: #9b7662;
}

body {
    background-color: var(--mcHacksBlue);
    font-family: "Manrope", serif;
    font-weight: 500;
    font-style: normal;
    padding: 0;
    overflow: hidden;
    height: 450px;
    padding-bottom: 100px;
}



/* Blob Animation */
@keyframes spinBlob {
    0% {
        transform: rotate(0deg) scale(1.5);
    }
    100% {
        transform: rotate(360deg) scale(1.5);
    }
}
